/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-info, .contact-form {
    flex: 1;
    margin: 10px;
}

.contact-info {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}
.contact-form button a{
    text-decoration: none;
}